.locationSelectForm {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex: 1;
    .searchForm {
        border-bottom: 1px solid;
        display: flex;
        width: fit-content;
        .cityInput {
            background: none;
            border: none;
            text-align: center;
            font-weight: 700;
            font-size: 40px;
            padding-left: 32px;
            outline: none;
            appearance: textfield;
        }
    }
}